/* Output Copy Component */
.output-copy-container{
  display: flex;
  align-items: center;
}
.output-copy-container .output-copy {
  max-width: -webkit-calc(100% - 30px) !important;
  max-width:    -moz-calc(100% - 30px) !important;
  max-width:         calc(100% - 30px) !important;
  word-break: break-all;
}
.output-copy-container .value {
  display: inline-block;
}
.output-copy-container .copied-text {
  width: 100%;
  text-align: center;
  display: none;
}

/* Blockonomics Icon Component */
.output-copy-container .blockonomics-icon {
  transition: transform .4s;
  height: 21px;
  vertical-align: text-bottom;
  padding-left: 5px;
}
.output-copy .blockonomics-icon{
  padding-left: 0px;
}

.output-copy-container .blockonomics-icon[onclick]:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}